* {
    font-family: sans-serif;
}

body {
    background-image: url("Background.jpg");
    background-color: #cccccc;
    text-align: center;
}

h1 {
    color: black;
    text-align: center;
}

h4 {
    color: red;
    text-align: center;
    text-decoration: underline;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 0px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

ol {
    text-align: left;
}

li {
    text-align: left;
}

ul {
    text-align: left;
}

.favQuote {
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
}

.twoWords {
    color: red;
    font-weight: bold;
}